node_modules
dist
dist-ssr
*.local

# backend
backend/.env
backend/*.db
backend/*.db-journal
backend/dist

# frontend
frontend/.env
frontend/dist

# editors / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
*.log
